#app{
    .sidebar-container{
        display: flex;
        justify-content: flex-end;
    }
    .ag-theme-alpine {
        --ag-header-height: 30px;
        --ag-borders: none;
    }
    .ag-header{
        height: 50px !important;
    }
    .ag-header-cell-label {
        font-weight: bold;
      }
      .ag-header-row {
        height: 60px !important; /* Increase header height */
      }
      
      .ag-row {
        margin-bottom: 10px; /* Add margin after each row */
      }
    .ag-cell {
        // min-width: 250px; /* Set your desired minimum width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
      }
      .ag-header-cell-text{
        text-align: center;

      }
      
.status-available {
  background-color: lightgreen;
  color: green;
  border-radius: 10px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  display: inline-block; /* To ensure proper padding and alignment */
}

.status-out-of-stock {
  background-color: lightcoral;
  color: red;
  border-radius: 10px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  display: inline-block; /* To ensure proper padding and alignment */
}

      .center-status{
        // color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .center-text{
        // color: brown;
        display: flex;
        // justify-content: center;
        align-items: center;
      }
      .ag-header-cell-label{
        justify-content: center;
      }
}